/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* css varriables */
:root{
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;
    --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 5px 25px rgb(0 0 0 /20%);
    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}
html{
    scroll-behavior: smooth;
}
/* scroll bar */
::-webkit-scrollbar{
    background: var(--scroll-bar-color);
    width: 11px;
}
::-webkit-scrollbar-thumb{
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}

/* main css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: var(--body-bg-color);
}

/* header */
header{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.4s ease;
    transition-property: height, background;
}
header.sticky{
    height: calc(3rem + 1rem);
    backdrop-filter: blur(10px);
}
header .nav-bar{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    transition: 0.4s ease;
}
.nav-close-btn, .nav-menu-btn{
   display: none;
}
.nav-bar .logo{
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}
.navigation .nav-items a{
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}
.link {
    position: relative;
    margin-right: 50px;
    font-size: 18px;
    padding: 4px 0px !important;
    color: var(--white-color) !important;
}
.link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 0%;
    height: 2px;
    background: #f7f7f7;
   transition: all .4s ease-in-out;
}
  
.link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0%;
    height: 2px;
    background: #f7f7f7;
    transition: all .4s ease-in-out;
}
.link:hover::before, .link:hover::after {
    color: var(--white-color);
    width: 100%;
    left: 0;
}
.navigation .nav-items a i{
    display: none;
}
.navigation .nav-items a:not(:last-child){
    margin-right: 45px;
}
/* home */
.home{
    min-height: 100vh;
}
.bg-slider{
    z-index: 777;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.bg-slider .swiper-slide{
    width: 100%;
    height: 100vh;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: cover;
    background-size: cover;
    pointer-events: none;
}
.text-content{
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 200px;
    transition: 0.4s ease;
}
.text-content .title{
    color: var(--white-color);
    font-size: 42px;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.6s ease;
}
.swiper-slide-active .text-content .title{
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}
.text-content .title span{
    font-size: 48px;
}
.text-content p{
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    line-height: 25px;
    text-shadow: var(--text-shadow);
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(45px);
    opacity: 0;
    transition: 0.6s ease;
}
.swiper-slide-active .text-content p{
    transform: translateX(0px);
    opacity: 1;
    transition-delay: 0.4s;
    transition-property: transform, opacity;
}
/* button style */
.btn{
    font-size: 16px;
    background: none;
    border: none;
    border: 2px solid var(--white-color);
    border-radius: 7px;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 12px 20px;
    transition: color 0.4s linear;
    min-width: 200px;
    cursor: pointer;
    position: relative;
    z-index: 999;
    color: var(--white-color);
    transform: translateX(-55px);
    opacity: 0;
}
.swiper-slide-active .btn{
    transform: translateX(0px);
    opacity: 1;
    transition: 0.6s ease;
    transition-delay: 0.5s;
    transition-property: transform, opacity;
}
.btn:hover{
    color: white;
}
.btn::before{
    content: "";
    position: absolute;
    border-radius: 7px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
   /* transition-timing-function: cubic-bezier(0.5, 1.6, 0.4,0.7); */
   transition-timing-function: cubic-bezier();
}
.btn2::before{
    transform: scaleY(0);
}
.btn2:hover::before{
    transform: scaleY(1);
}
.btn i{
    margin-left: 10px;
    transition: 0.4s ease;
}
.btn:hover i{
   transform: translateX(10px);
}

.dark-layer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
/* thumbnail container */
.bg-slider-thumbs{
    z-index: 777;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s ease;
   
}
.thumbs-container{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.thumbs-container img{
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}
.swiper-slide-thumb-active{
    border: 1px solid var(--white-color);
}
/* media icon */
.media-icon{
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 100px;

}
.media-icon a{
    margin: 10px 0px;
    font-size: 22px;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.4s ease;
}
.media-icon a:hover{
    transform: translateX(5px);
}
/* navbar mobile screen */

/* package */

.package{
    background-color: var(--section-bg-color);
}
.container{
    width: 80%;
    margin: 0 auto;
}

.container h1{
    font-size: 2.5rem;
   text-align: center;
   padding-top: 60px;
   padding-bottom: 30px;
   color: var(--white-color);
}
.container h3{
    color: var(--white-color);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.tour-content{
   align-items: center;
    overflow: hidden;
}

.c_wrapper{
    width: 31%;
    padding: 80px 0px;
    float: left;
    margin-right: 25px;
}
.card {
    -webkit-perspective: 150rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 40rem;
}
.card__side {
    background-color: #E73A38;
    height: 40rem;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
    background-color: #fff;
}
  
.card__side--back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
  
.card__side--back-1 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
  
.card__side--back-3 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
  
.card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}
  
.card:hover .card__side--back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}
.card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
  
.card__picture--1 {
    background-image: url(../images/pic1.jpg);
}
  
  .card__picture--2 {
    background-image: url(../images/pic2.jpg);
}
  
.card__picture--3 {
    background-image: url(../images/pic3.jpg);
}
  
.card__heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
}
  
.card__heading-span {
    border-radius: 2px;
    padding: 0.5rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  
  .card__heading-span--1 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.95)), to(rgba(255, 119, 48, 0.9)));
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.95), rgba(255, 119, 48, 0.9));
  }
  
  .card__heading-span--2 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.95)), to(rgba(86, 67, 250, 0.9)));
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.95), rgba(86, 67, 250, 0.9));
  }
  
  .card__heading-span--3 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.95)), to(rgba(40, 180, 133, 0.9)));
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.95), rgba(40, 180, 133, 0.9));
  }
  
.card__details {
  padding: 0px;
}
  
.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }
  
.card__details ul li {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 1.5rem;
    padding: 11px;
}
  
.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  
.card__price-box {
    text-align: center;
    margin-bottom: 5rem;
    color: #fff;
  }
  
.card__price-only {
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  
.card__price-value {
    font-size: 6rem;
    font-weight: 100;
}
.btn--white {
    z-index: 999;
    color: var(--white-color);
    text-decoration: none;
    border: 2px solid var(--white-color);
    padding: 10px 18px;
    cursor: pointer;
}
.container article{
    padding: 100px 0px;
}
.container article p{
    line-height: 15px;
    margin-bottom: 30px;
    color: var(--white-color);
}

.features{
    padding: 80px 0px;
}